@import "font";

$clrbckhd: #FFF7EF; /*couleur background header et footer*/
$clrborderbutton: #243e18; /*couleur des bordures des bouttons*/
$clrborderpanier: #d3d3d3; /*couleur bordures panier*/
$clrprimaire: rgb(73, 170, 63); /*vert bouton et background récap commande*/
$clrbckg: white; /*background et couleur blanche*/
$clrimportant: rgb(200, 17, 128); /*messages important*/
$clrbutton: rgb(99, 52, 78);
$clrtitles: #17A2B8; /*pour le titres et prix*/
$clrfontAndicons: #4D647E;
a{color: black; text-decoration: none;}
a:hover 
{ text-decoration: none; }
a:link
{text-decoration: none; }
a:visited {text-decoration: none;}
@mixin degradeOrinoco{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e68a09+0,af6ca4+50,8f5bfe+100 */
    background: #e68a09; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #e68a09 0%, #af6ca4 50%, #8f5bfe 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #e68a09 0%,#af6ca4 50%,#8f5bfe 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #e68a09 0%,#af6ca4 50%,#8f5bfe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e68a09', endColorstr='#8f5bfe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
}
@mixin degradeTitleCamera{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e68a09+0,af6ca4+50,8f5bfe+100 */
    background: #e68a09; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #e68a09 0%, #af6ca4 50%, #8f5bfe 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #e68a09 0%,#af6ca4 50%,#8f5bfe 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #3f0a63 0%,#914083 50%,#c91793 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e68a09', endColorstr='#8f5bfe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
}
/*HEADER ET FOOTER*/
html {
    position: relative;
    min-height: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    color: $clrfontAndicons;
    background-color: $clrbckhd;
    font-family: 'Karla', sans-serif;
    .backindex{
        display: flex;
        flex-direction: row;
        margin: auto 3%;
        flex-grow: 2;
        i{
            font-size: 2em;
            margin-right: 2%;  
        }
    }    
}

/*TITLE ORICAMERAS*/
.title-camera{
    font-family: 'Karla', sans-serif;
    h2{
            font-size: 2em;
            margin: 2% auto;
            color: black;
            text-shadow: 3px 3px 3px $clrbckhd;
    }
    p{
        text-align: center;
        font-size: 1.3em;
    }
}
footer{
    bottom: 0;
    width: 100%;
    height: 70px;
    color: black;
    background-color: $clrbckhd;
    font-size: 1em;
    font-family: 'Karla', sans-serif;

  
}

    /*HEADER PANIER*/
    .monpanier{
        display: flex;
        flex-direction: column;
        margin: auto 3%;
        color: black;
        font-family: 'Karla', sans-serif;
        i{
            font-size: 2em;
            margin: auto;
            color: #4D647E;
           // @include degradeOrinoco;
        }
        p{
            font-size: 1em;
        }
        
    }



/**************************************************************************************/
/**********************************CARD HOME PAGE CAMERAS AFFICHAGE****************************/
/**************************************************************************************/

/*CAROUSEL/HOME PAGE, AFFICHAGE*/
.section-slide{
    padding-top: 25px;
    font-family: 'Karla', sans-serif;

    .title-homepage{ 
        margin-top: 10%;
        font-size: 2em;
        line-height: 35px;
        font-weight: 700;
    }
    .paragraphe-homepage{
        font-weight: 500;
        font-size: 1.3em;
    }


}
#carouselIndex{
    margin: 0 auto;
}

#produits{
    margin-bottom: 40px;
    padding-bottom: 20px;
    margin-top: 40px;
    padding-top: 20px;
    font-family: 'Karla', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .all-buttons{
        border: 2px solid #BEAF8C;
    padding: 10px 15px;
    font-weight: 700;
    border-radius: 25px;
    font-size: 13px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: transparent;
    transition: background-color 0.3s;
    color: black;
    }
    .all-buttons:hover{
        background-color: #BEAF8C;
    }
    
}

.card-header{
    display: flex;
    justify-content: space-around;
    color: $clrtitles;
    font-weight: bolder;
}


/**************************************************************************************/
/**********************************RESPONSIVE HEADER, FOOTER, MON PANIER, TITLE ORICAMERAS****************************/
/**************************************************************************************/

@media screen and (max-width: 700px){
   
    /*MON PANIER*/
    .monpanier{
        p{
            display: none;
        }
    }

    .title-camera{
        h2{
            font-size: 1.3em;
        }
        p{
            font-size: 1.2em;
        }
        
    }
}

@media screen and (max-width: 451px){
    header{
        .backindex{
            i{
                font-size: 1em;
            }
            h1{
                font-size: 1em;
            }
        }
     /*MON PANIER*/
    .monpanier{
        i{
            font-size: 1em;
        }
        p{
            font-size: 1em;
        }
    } 
    }
    .title-camera{
        h2{
            font-size: 1.3em;
        }
        p{
            font-size: 1em;
        }
        
    }

}
@media screen and (max-width: 450px){
    .title-camera p{
        display: none;
    }
}


/**************************************************************************************/
/********************************** PRODUIT*********************************************/
/**************************************************************************************/
.container-produit-camera{
    padding-bottom: 40px;
    margin-bottom: 40px;
    font-family: 'Playfair Display', serif;
}
#descriptionproduit{
    padding-top: 50px;
    margin-top: 50px;
p{
    font-size: 1.2em;
    color: black;
}    
}
.cam-options{
    line-height: 2.3em;
}


#container-form{
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    border: $clrbckhd 1px solid; 
}

.articlePanier{
    display: flex;
    flex-direction: column;
}
.titrePanier{
    display: flex;
    justify-content: space-between;
    #totalPricePanier{
        font-weight: bold;
        color: black;
    }
}
#total-price{
    font-weight: bold;
    font-size: 1.2em;
}
.prixPanier{
    text-align: center;
}
#container-button{
    text-align: center; 
    margin-bottom: 50px;
}


/**************************************************************************************/
/**********************************RESPONSIVE PAGE PRODUIT*****************************/
/**************************************************************************************/


@media screen and (max-width: 700px){
    #container{
        border: none;
    }
   
    #descriptionproduit{
        padding-top: 20px;
        margin-top: 20px;
        font-family: 'Playfair Display', serif;
    p{
        font-size: 1em;
        color: black;
    }    
    }
}


/**************************************************************************************/
/********************************** PAGE PANIER****************************************/
/**************************************************************************************/
.containerPagePanier{
    font-family: 'Playfair Display', serif;
}
#container-panier2{
    font-size: 1.5em;
    margin: 0 auto;
}
.tailleImage{
    width: 100px;
	height: 100px;
}
#basket-content{
    font-family: 'EB Garamond', serif;
    font-weight: bold; 
    font-size: 1.2em; 
}

.no-products{
    margin: auto;
    font-size: 1.3em;
}
#btnorder{
        font-family: 'Playfair Display', serif;
        display: block;
        margin: 5% auto;
        font-size: 1.2em;
        height: 54px;
        font-weight: bold;
        letter-spacing: 0.05em;
        text-decoration: none;
}

.total-Panier{
    font-weight: bold;
}
 .pagePanier{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
    h2{
        text-align: center;
        margin: 5px;
        font-weight: bold;
    }
 }
 .confirm-paragraphe{
    border: grey 1px solid;
    border-radius: 10px;
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
    padding: 10px;
 }


.ulDisposition{
   display: flex;
   list-style: none;
   margin: 20px 0px;
   border: 2px solid #6C757D;
   background: #00000008;
   border-radius: 5px;
}
.ulDisposition{
    .liDisp{ margin-right: 40px;
   padding-left: 10px;
    }
    
}
.liDisp ul{
   list-style: none;
   margin: 10px 5px;
   padding: 0;
   text-align: center;
}
.deleteBtn{
   border-radius: 5px;
   border: 2px solid #6C757D;
}

// formulaire
#formulaire{
font-family: 'Playfair Display', serif;
display: none;
width: 80vw;
height: auto;
box-shadow: black 1px 1px 15px;
margin: 2% auto;
padding: 3%;
background: rgb(255, 255, 255);
border-radius: 5px;
h3 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    text-shadow: black 1px 1px 3px;
    padding: 2%;

}
#btnsend{
    color: #fff;
    border-color: #17a2b8;
}
}
#myform [type="text"]{
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(224, 224, 224);
    border-image: initial;
    padding: 10px;
    .input_field {
        margin-bottom: 10px;
        box-sizing: inherit;
    }
}
/**************************************************************************************/
/**********************************RESPONSIVE PAGE PANIER******************************/
/**************************************************************************************/


 
/**********************************PAGE A PROPOS******************************/
.title-camera-apropos{
    padding-bottom: 60px;
    margin-bottom: 60px;
    h2{
            font-family: 'Playfair Display', serif;
            font-size: 2em;
            margin: 2% auto;
            color: black;
            text-shadow: 3px 3px 3px $clrbckhd;
    }
    p{
        font-family: 'Playfair Display', serif;
        text-align: center;
        font-size: 1.3em;
    }
}
 /********************************** RESPONSIVE PAGE A PROPOS******************************/
 @media screen and (max-width: 770px){
     .title-camera-apropos{
         p{
             font-size: 1em;
         }
     }
 }