@charset "UTF-8";
/*RESET*/
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

a {
  text-decoration: none;
}

/*FONTS*/
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

a:hover a h1 {
  text-decoration: none;
}

/*couleur background header et footer*/
/*couleur des bordures des bouttons*/
/*couleur bordures panier*/
/*vert bouton et background récap commande*/
/*background et couleur blanche*/
/*messages important*/
/*pour le titres et prix*/
a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

/*HEADER ET FOOTER*/
html {
  font-family: 'Karla', sans-serif;
  position: relative;
  min-height: 100%;
}

header {
  top: 0;
  z-index: 9999;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #DDC3C4;
  color: black;
  font-family: 'Karla', sans-serif;
}

.navbar {
  font-weight: 700;
  color: black;
}

.navbar ul {
  list-style: none;
}

.navbar ul .fa-shopping-cart {
  font-size: 1.2em;
}

/*********************************************************************/
/**************************FOOTER************************************/
/*******************************************************************/
.fin-page {
  font-family: 'Karla', sans-serif;
  margin-top: 50px;
  color: #000;
  padding: 30px 0 20px;
}

.fin-page .titles-footer {
  color: #425264;
  display: inline-block;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin-bottom: 20px;
}

.fin-page .avant-footer-list {
  font-weight: 600;
}

.fin-page .retrouvez-nous {
  padding-top: 15px;
}

.fin-page .footer-reseaux ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  list-style: none;
  padding-left: 0;
}

.fin-page .footer-reseaux ul li {
  margin-left: 14px;
}

.fin-page .footer-reseaux ul li .fa-facebook-square, .fin-page .footer-reseaux ul li .fa-twitter-square {
  padding: 5px 8px;
  border-radius: 50%;
  color: #425264;
  font-size: 1.5em;
  border: 1px solid #000;
}

.fin-paddingplus {
  padding-bottom: 50px;
  padding-top: 50px;
}

footer {
  width: 100%;
  margin-top: 30px;
  padding: 20px 0;
  color: black;
  background-color: #DDC3C4;
  font-size: 1em;
  font-weight: 700;
  font-family: 'Karla', sans-serif;
  text-align: center;
}

/**************************************************************************************/
/**********************************CARD HOME PAGE CAMERAS AFFICHAGE****************************/
/**************************************************************************************/
/*CAROUSEL/HOME PAGE, AFFICHAGE*/
.section-slide {
  padding-top: 25px;
  font-family: 'Karla', sans-serif;
}

.title-homepage {
  color: #4E6172;
  margin-top: 10%;
  font-size: 2em;
  line-height: 35px;
  font-weight: 800;
}

.paragraphe-homepage {
  font-weight: 500;
  font-size: 1.3em;
}

#carouselIndex {
  margin: 0 auto;
}

.all-buttons {
  border: 2px solid #BEAF8C;
  padding: 10px 15px;
  font-weight: 700;
  border-radius: 25px;
  font-size: 13px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: transparent;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  color: black;
}

.all-buttons:hover {
  background-color: #BEAF8C;
}

#produits {
  margin-bottom: 40px;
  padding-bottom: 20px;
  margin-top: 40px;
  padding-top: 20px;
  font-family: 'Karla', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.prix-coleurs, .name-couleurs {
  font-weight: bolder;
  color: #425264;
}

.description-lorem {
  color: black;
  font-weight: 800;
}

.card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/**************************************************************************************/
/**********************************RESPONSIVE HEADER, FOOTER, MON PANIER, TITLE ORICAMERAS****************************/
/**************************************************************************************/
@media screen and (min-width: 700px) {
  header .navbar {
    font-size: 1.3em;
    font-weight: 900;
  }
  header .navbar i {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 451px) {
  .mail-contact {
    display: none;
  }
}

/**************************************************************************************/
/********************************** PRODUIT*********************************************/
/**************************************************************************************/
.paragraphe-produit {
  text-align: center;
  padding-top: 30px;
  font-family: 'Karla', sans-serif;
}

.paragraphe-produit .title-homepage {
  margin-top: 10%;
  font-size: 2em;
  line-height: 35px;
  font-weight: 700;
}

.paragraphe-produit .paragraphe-homepage {
  font-weight: 500;
  font-size: 1.3em;
}

.container-produit-camera {
  padding-bottom: 60px;
  margin-bottom: 40px;
}

.container-produit-camera #description {
  font-weight: 500;
}

.container-produit-camera label {
  font-weight: 600;
}

.container-produit-camera .lentilles-choix {
  font-weight: 600;
}

#descriptionproduit {
  font-family: 'Karla', sans-serif;
  padding-top: 50px;
  margin-top: 50px;
}

#descriptionproduit #description {
  font-size: 1.2em;
  color: black;
}

.cam-options {
  line-height: 2.3em;
}

#container-form {
  margin-top: 30px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  border: #DDC3C4 1px solid;
}

.articlePanier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#total-price {
  font-weight: bold;
  font-size: 1.2em;
  color: #425264;
}

#container-button {
  text-align: center;
  margin-bottom: 50px;
}

/**************************************************************************************/
/**********************************RESPONSIVE PAGE PRODUIT*****************************/
/**************************************************************************************/
@media screen and (max-width: 700px) {
  #container {
    border: none;
  }
  #descriptionproduit {
    padding-top: 20px;
    margin-top: 20px;
    font-family: 'Karla', sans-serif;
  }
  #descriptionproduit #description {
    font-size: 1em;
    color: black;
  }
}

@media screen and (min-width: 600px) {
  .button-add-cart {
    margin-right: 80px;
    padding-right: 50px;
  }
}

/**************************************************************************************/
/********************************** PAGE PANIER****************************************/
/**************************************************************************************/
.containerPagePanier {
  font-family: 'Karla', sans-serif;
}

.containerPagePanier th {
  text-transform: uppercase;
}

.containerPagePanier .table-style {
  background-color: #EEECD6;
}

.paragraphe-panier {
  text-align: center;
  font-family: 'Karla', sans-serif;
}

#container-panier2 {
  font-size: 1.5em;
  margin: 0 auto;
}

.tailleImage {
  width: 100px;
  height: 100px;
}

#basket-content {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-size: 1.2em;
}

.no-products {
  margin: auto;
  font-size: 1.3em;
}

#btnorder {
  font-family: 'Karla', sans-serif;
  display: block;
  margin: 5% auto;
  height: 54px;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-decoration: none;
}

.total-Panier {
  color: #425264;
  font-weight: bold;
}

.pagePanier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Karla', sans-serif;
}

.pagePanier h2 {
  text-align: center;
  margin: 5px;
  font-weight: bold;
}

.confirm-paragraphe {
  border: grey 1px solid;
  border-radius: 10px;
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
  padding: 10px;
}

.ulDisposition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 20px 0px;
  border: 2px solid #6C757D;
  background: #00000008;
  border-radius: 5px;
}

.ulDisposition .liDisp {
  margin-right: 40px;
  padding-left: 10px;
}

.liDisp ul {
  list-style: none;
  margin: 10px 5px;
  padding: 0;
  text-align: center;
}

.deleteBtn {
  border-radius: 5px;
  border: 2px solid #6C757D;
}

#formulaire {
  font-family: 'Karla', sans-serif;
  display: none;
  width: 80vw;
  height: auto;
  -webkit-box-shadow: black 1px 1px 15px;
          box-shadow: black 1px 1px 15px;
  margin: 2% auto;
  padding: 3%;
  background: white;
  border-radius: 5px;
}

#formulaire h3 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  text-shadow: black 1px 1px 3px;
  padding: 2%;
}

#formulaire #btnsend {
  color: black;
}

#myform [type="text"] {
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #e0e0e0;
  -o-border-image: initial;
     border-image: initial;
  padding: 10px;
}

#myform [type="text"] .input_field {
  margin-bottom: 10px;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/**************************************************************************************/
/**********************************PAGE CONFIRMATION******************************/
/**************************************************************************************/
.paragraphe-confirmation {
  font-family: 'Karla', sans-serif;
  text-align: center;
}

/**********************************PAGE A PROPOS******************************/
.title-camera-apropos {
  padding-bottom: 60px;
  margin-bottom: 60px;
  font-family: 'Karla', sans-serif;
}

.title-camera-apropos h2 {
  font-size: 2em;
  margin: 2% auto;
  color: black;
  text-shadow: 3px 3px 3px #DDC3C4;
}

.title-camera-apropos p {
  text-align: center;
  font-size: 1.3em;
}

/********************************** RESPONSIVE PAGE A PROPOS******************************/
@media screen and (max-width: 770px) {
  .title-camera-apropos p {
    font-size: 1em;
  }
}
/*# sourceMappingURL=style.css.map */