@charset "UTF-8";
/*RESET*/
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

a {
  text-decoration: none;
}

/*FONTS*/
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

a:hover a h1 {
  text-decoration: none;
}

/*couleur background header*/
/*couleur des bordures des bouttons*/
/*couleur bordures panier*/
/*vert bouton et background récap commande*/
/*background et couleur blanche*/
/*messages important*/
/*pour le titres et prix*/
a:hover {
  text-decoration: none;
}

/*HEADER ET FOOTER*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #78cde9;
}

header .backindex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto 3%;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

header .backindex i {
  font-size: 2em;
  margin-right: 2%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e68a09+0,af6ca4+50,8f5bfe+100 */
  background: #e68a09;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #e68a09 0%, #af6ca4 50%, #8f5bfe 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e68a09', endColorstr='#8f5bfe',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

header .backindex h1 {
  font-size: 2em;
  font-family: 'Playfair Display', serif;
  text-align: center;
  color: black;
}

/*TITLE ORICAMERAS*/
.title-camera h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  margin: 2% auto;
  color: black;
  text-shadow: 3px 3px 3px #78cde9;
}

.title-camera p {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 1.3em;
}

footer {
  color: black;
  background-color: #78cde9;
  padding-top: 25px;
  padding-bottom: 20px;
  font-size: 1em;
  font-family: 'Playfair Display', serif;
}

/*HEADER PANIER*/
.monpanier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto 3%;
  color: black;
  font-family: 'Playfair Display', serif;
}

.monpanier i {
  font-size: 2em;
  margin: auto;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e68a09+0,af6ca4+50,8f5bfe+100 */
  background: #e68a09;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #e68a09 0%, #af6ca4 50%, #8f5bfe 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e68a09', endColorstr='#8f5bfe',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.monpanier p {
  font-size: 1em;
}

/*CARD Produits */
#produits {
  margin-bottom: 40px;
  margin-top: 40px;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: 'Playfair Display', serif;
}

button a {
  color: white;
}

a:hover {
  text-decoration: none;
}

.card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #17A2B8;
  font-weight: bolder;
}

/**************************************************************************************/
/**********************************RESPONSIVE HEADER, FOOTER, MON PANIER, TITLE ORICAMERAS****************************/
/**************************************************************************************/
@media screen and (max-width: 700px) {
  /*MON PANIER*/
  .monpanier p {
    display: none;
  }
  .title-camera h2 {
    font-size: 1.3em;
  }
  .title-camera p {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 451px) {
  header {
    /*MON PANIER*/
  }
  header .backindex i {
    font-size: 1em;
  }
  header .backindex h1 {
    font-size: 1em;
  }
  header .monpanier i {
    font-size: 1em;
  }
  header .monpanier p {
    font-size: 1em;
  }
  .title-camera h2 {
    font-size: 1.3em;
  }
  .title-camera p {
    font-size: 1em;
  }
}

@media screen and (max-width: 450px) {
  .title-camera p {
    display: none;
  }
}

/**************************************************************************************/
/********************************** PRODUIT*********************************************/
/**************************************************************************************/
.containerCamera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Playfair Display', serif;
}

#container-camera {
  margin-top: 100px;
  margin-bottom: 20px;
}

.add-to-cart {
  margin-bottom: 20px;
}

#container-panier {
  margin-top: 150px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 10px;
  border: grey 1px solid;
}

#container-form {
  margin-top: 30px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  border: #78cde9 1px solid;
}

.articlePanier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.titrePanier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.titrePanier #totalPricePanier {
  font-weight: bold;
  color: black;
}

.prixPanier {
  text-align: center;
}

#container-button {
  text-align: center;
  margin-bottom: 50px;
}

/**************************************************************************************/
/**********************************RESPONSIVE PAGE PRODUIT*****************************/
/**************************************************************************************/
@media screen and (max-width: 1000px) {
  #container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    margin: 40px 20px;
    background-color: white;
  }
  #descriptionproduit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
  }
  .prixpanier {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  #container {
    border: none;
  }
  #descriptionproduit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #descriptionproduit .imageproduit {
    padding: 1%;
  }
  #descriptionproduit h3 {
    text-align: center;
  }
  #descriptionproduit .ref {
    text-align: center;
  }
  #descriptionproduit p {
    text-align: center;
  }
}

/**************************************************************************************/
/********************************** PAGE PANIER****************************************/
/**************************************************************************************/
.articlePanier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.titrePanier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.titrePanier i {
  font-size: 2em;
  margin-right: 2%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e68a09+0,af6ca4+50,8f5bfe+100 */
  background: #e68a09;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #e68a09 0%, #af6ca4 50%, #8f5bfe 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e68a09', endColorstr='#8f5bfe',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.prixPanier {
  text-align: center;
}

#container-button {
  text-align: center;
  margin-bottom: 50px;
}

#container-form {
  display: none;
  border-radius: 10px;
}

input:invalid {
  border: 2px solid #17A2B8;
}

input:valid {
  border: 1px solid black;
  margin-left: 20px;
}

.form-group button {
  margin-left: 110px;
}

.carIndex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#carouselIndex {
  border: 3px solid #00000008;
  border-radius: 10px;
  background-color: #00000008;
}

.pagePanier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Playfair Display', serif;
}

.pagePanier h2 {
  text-align: center;
  margin: 5px;
  font-weight: bold;
}

.confirm-paragraphe {
  border: grey 1px solid;
  border-radius: 10px;
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
  padding: 10px;
}

#container-panier2 {
  margin-top: 30px;
}

.ulDisposition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 20px 0px;
  border: 2px solid #6C757D;
  background: #00000008;
  border-radius: 5px;
}

.ulDisposition .liDisp {
  margin-right: 40px;
  padding-left: 10px;
}

.liDisp ul {
  list-style: none;
  margin: 10px 5px;
  padding: 0;
  text-align: center;
}

.deleteBtn {
  border-radius: 5px;
  border: 2px solid #6C757D;
}

/**************************************************************************************/
/**********************************RESPONSIVE PAGE PANIER******************************/
/**************************************************************************************/
/*@media screen and (max-width: 770px){} */
/*mise en page modal*/
.calc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modale {
  border: #6C757D 4px solid;
  border-radius: 10px;
  background: cornsilk;
  min-width: 30rem;
}

.modale p {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.modale .btn {
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}
/*# sourceMappingURL=style.css.map */