@import "font";

$clrbckhd: #DDC3C4; /*couleur background header et footer*/
$clrborderpanier: #d3d3d3; /*couleur bordures panier*/
$clrbckg: white; /*background et couleur blanche*/
$clrtitles: #17A2B8; /*pour le titres et prix*/
$clrfontAndicons: #4D647E;
a{color: black; text-decoration: none;}
a:hover 
{ text-decoration: none; }
a:link
{text-decoration: none; }
a:visited {text-decoration: none;}
@mixin degradeOrinoco{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e68a09+0,af6ca4+50,8f5bfe+100 */
    background: #e68a09; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #e68a09 0%, #af6ca4 50%, #8f5bfe 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #e68a09 0%,#af6ca4 50%,#8f5bfe 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #e68a09 0%,#af6ca4 50%,#8f5bfe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e68a09', endColorstr='#8f5bfe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
}
@mixin degradeTitleCamera{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e68a09+0,af6ca4+50,8f5bfe+100 */
    background: #e68a09; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #e68a09 0%, #af6ca4 50%, #8f5bfe 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #e68a09 0%,#af6ca4 50%,#8f5bfe 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #3f0a63 0%,#914083 50%,#c91793 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e68a09', endColorstr='#8f5bfe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
}

/*******************************************************************************/   
/**************************TOUTES LES PAGES************************************/
/*****************************************************************************/ 
/*HEADER ET FOOTER*/
html {
    font-family: 'Karla', sans-serif;
    position: relative;
    min-height: 100%;
}
header{
    top: 0;
    z-index: 9999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    background-color: $clrbckhd;
    color: black;
    font-family: 'Karla', sans-serif;
    .mail-contact{
        padding-right: 30px;
    }
    .contents{
    position: relative;
    text-align: center;
    .fa-shopping-cart{
    color: degradeOrinoco;
    font-size: 1.5em;
    }  
    #cart-qte{
    position: absolute;
    top: 30%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.1em;
    font-weight: bolder;
    }
    }
    
    .backindex{
        width: 200px;
    }
}     
/**************************FOOTER************************************/
.fin-page{
    font-family: 'Karla', sans-serif;
    margin-top: 50px;
    color: #000;
    padding: 30px 0 20px;  
    .titles-footer{
    color:#425264;
    display: inline-block;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.125rem;
    margin-bottom: 20px;
}
    .avant-footer-list{
        font-weight: 600;
    }
    
    .retrouvez-nous{
        padding-top: 15px
    }
    .footer-reseaux ul{
    display: flex;;
    align-items: center;
    height: 100%;
    list-style: none;
    padding-left: 0;
    }
    .footer-reseaux ul li{
    margin-left: 14px;
    
    .fa-facebook-square, .fa-twitter-square{
    padding: 5px 8px;
    border-radius: 50%;
    color: #425264;
    font-size: 1.5em;
    border: 1px solid #000;
    }
    
}
}
.fin-paddingplus{
 padding-bottom: 50px;
 padding-top: 50px;
}

footer{
    width: 100%;
    margin-top: 30px;
    padding: 20px 0;
    color: black;
    background-color: $clrbckhd;
    font-size: 1em;
    font-weight: 700;
    font-family: 'Karla', sans-serif; 
    text-align: center; 
    position: relative;
}




/**************************************************************************************/
/*************************************PAGE ACCUEIL************************************/
/**************************************************************************************/

/*CAROUSEL/HOME PAGE, AFFICHAGE*/
.section-slide{
    padding-top: 25px;
    font-family: 'Karla', sans-serif;
}
.title-homepage{
        color: #4E6172; 
        margin-top: 10%;
        font-size: 2em;
        line-height: 35px;
        font-weight: 800;
}
.paragraphe-homepage{
        font-weight: 500;
        font-size: 1.3em;
}
#carouselIndex{
    margin: 0 auto;
}
.all-buttons{
border: 2px solid #BEAF8C;
padding: 10px 15px;
font-weight: 700;
border-radius: 25px;
font-size: 13px;
line-height: 1;
text-transform: uppercase;
letter-spacing: 1px;
background-color: transparent;
transition: background-color 0.3s;
color: black;
}
.all-buttons:hover{
    background-color: #BEAF8C;
}
#produits{
    margin-bottom: 40px;
    padding-bottom: 20px;
    margin-top: 40px;
    padding-top: 20px;
    font-family: 'Karla', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}   
.name-couleurs{
    font-size: 1.3em;
    font-weight: 900;
    color: #425264;
}
.prix-coleurs{
    font-size: 1.1em;
    padding-top: 15px;
    font-weight: 900;
    color: black;
}
.description-lorem{
    color: black;
    font-weight: 800;
}
.card-header{
    display: flex;
    justify-content: space-around;
}
.shadow-page-accueil{
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    border-radius: .25rem!important;
}

/**************************************************************************************/
/**********************************RESPONSIVE HEADER, FOOTER, PAGE ACCUEIL****************************/
/**************************************************************************************/
@media screen and (min-width: 700px){
   
    header .navbar{
        font-size: 1.3em;
        font-weight: 900;
        i{
            font-size: 1.3em;
        }
    }
   
}

@media screen and (max-width: 451px){
    .mail-contact{
        display: none;
    }
   
}


/**************************************************************************************/
/**********************************PAGE PRODUIT*********************************************/
/**************************************************************************************/
.paragraphe-produit{
    text-align: center;
    padding-top: 30px;
    font-family: 'Karla', sans-serif;

    .title-homepage{ 
        margin-top: 10%;
        font-size: 2em;
        line-height: 35px;
        font-weight: 700;
    }
    .paragraphe-homepage{
        font-weight: 500;
        font-size: 1.3em;
    }

}    
.container-produit-camera{
    padding-bottom: 60px;
    margin-bottom: 40px;
    #description{
        color: black;
        font-weight: 500;
        font-size: 1.2em;
    }
    label{
        font-weight: 600;
    }
    .lentilles-choix{
        font-weight: 600;
    }
}
#descriptionproduit{
    font-family: 'Karla', sans-serif;
    padding-top: 50px;
    margin-top: 50px; 
}

/**************************************************************************************/
/**********************************RESPONSIVE PAGE PRODUIT*****************************/
/**************************************************************************************/
@media screen and (max-width: 700px){
    #container{
        border: none;
    }
   
    #descriptionproduit{
        padding-top: 20px;
        margin-top: 20px;
        font-family: 'Karla', sans-serif;
    #description{
        font-size: 1em;
        color: black;
    }    
    }
}
@media screen and (min-width: 600px){
.button-add-cart{
    margin-right: 80px;
    padding-right: 50px;
}
}

/**************************************************************************************/
/********************************** PAGE PANIER****************************************/
/**************************************************************************************/
.containerPagePanier{
    font-family: 'Karla', sans-serif;
    width: 80vw;
    height: auto;
    margin: 0 auto;
    padding: 3%;
    th{
        text-transform: uppercase;
    }
    .table-style{
        background-color: #EEECD6;
    }
}
.paragraphe-panier{
    text-align: center;
    font-family: 'Karla', sans-serif;;
}
.tailleImage{
    width: 100px;
    border-radius: 5px;
    height: auto;
}
#basket-content{
    font-family: 'Karla', sans-serif;
    font-weight: bold; 
    font-size: 1.2em; 
}
.no-products{
    margin: auto;
    font-size: 1.3em;
}
#btnorder{
    font-family: 'Karla', sans-serif;
    display: block;
    margin: 5% auto;
    height: 54px;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-decoration: none;
}

.total-Panier{
    color: #425264;
    font-weight: bold;
}
#total-price{
    font-weight: bold;
    font-size: 1.2em;
    color: #425264;
}
//******* FORMULAIRE*******//
#formulaire{
font-family: 'Karla', sans-serif;
display: none;
width: 80vw;
height: auto;
margin: 2% auto;
padding: 3%;
line-height: 6px;
h3 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    text-shadow: black 1px 1px 3px;
    padding: 2%;
}
#btnsend{
    margin-top: 15px;
    color: black;
}
}
#myform [type="text"]{
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(224, 224, 224);
    padding: 10px;
}
.input_field{
    line-height: 2em;
}

/**************************************************************************************/
/**********************************PAGE CONFIRMATION******************************/
/**************************************************************************************/
.paragraphe-confirmation{
    font-family: 'Karla', sans-serif;
    text-align: center; 
}
/**********************************PAGE A PROPOS******************************/
.title-camera-apropos{
    padding-bottom: 60px;
    margin-bottom: 60px;
    font-family: 'Karla', sans-serif;
    h2{
        font-size: 2em;
        margin: 2% auto;
        color: black;
        text-shadow: 3px 3px 3px $clrbckhd;
    }
    p{
        text-align: center;
        font-size: 1.3em;
    }
}
 /********************************** RESPONSIVE PAGE A PROPOS******************************/
 @media screen and (max-width: 770px){
     .title-camera-apropos{
         p{
             font-size: 1em;
         }
     }
 }