@charset "UTF-8";
/*RESET*/
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

a {
  text-decoration: none;
}

/*FONTS*/
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

a:hover a h1 {
  text-decoration: none;
}

/*couleur background header et footer*/
/*couleur des bordures des bouttons*/
/*couleur bordures panier*/
/*vert bouton et background récap commande*/
/*background et couleur blanche*/
/*messages important*/
/*pour le titres et prix*/
a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

/*HEADER ET FOOTER*/
html {
  position: relative;
  min-height: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #4D647E;
  background-color: #FFF7EF;
  font-family: 'Karla', sans-serif;
}

header .backindex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto 3%;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

header .backindex i {
  font-size: 2em;
  margin-right: 2%;
}

/*TITLE ORICAMERAS*/
.title-camera {
  font-family: 'Karla', sans-serif;
}

.title-camera h2 {
  font-size: 2em;
  margin: 2% auto;
  color: black;
  text-shadow: 3px 3px 3px #FFF7EF;
}

.title-camera p {
  text-align: center;
  font-size: 1.3em;
}

footer {
  bottom: 0;
  width: 100%;
  height: 70px;
  color: black;
  background-color: #FFF7EF;
  font-size: 1em;
  font-family: 'Karla', sans-serif;
}

/*HEADER PANIER*/
.monpanier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto 3%;
  color: black;
  font-family: 'Karla', sans-serif;
}

.monpanier i {
  font-size: 2em;
  margin: auto;
  color: #4D647E;
}

.monpanier p {
  font-size: 1em;
}

/**************************************************************************************/
/**********************************CARD HOME PAGE CAMERAS AFFICHAGE****************************/
/**************************************************************************************/
/*CAROUSEL/HOME PAGE, AFFICHAGE*/
.section-slide {
  padding-top: 25px;
  font-family: 'Karla', sans-serif;
}

.section-slide .title-homepage {
  margin-top: 10%;
  font-size: 2em;
  line-height: 35px;
  font-weight: 700;
}

.section-slide .paragraphe-homepage {
  font-weight: 500;
  font-size: 1.3em;
}

#carouselIndex {
  margin: 0 auto;
}

#produits {
  margin-bottom: 40px;
  padding-bottom: 20px;
  margin-top: 40px;
  padding-top: 20px;
  font-family: 'Karla', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#produits .all-buttons {
  border: 2px solid #BEAF8C;
  padding: 10px 15px;
  font-weight: 700;
  border-radius: 25px;
  font-size: 13px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: transparent;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  color: black;
}

#produits .all-buttons:hover {
  background-color: #BEAF8C;
}

.card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #17A2B8;
  font-weight: bolder;
}

/**************************************************************************************/
/**********************************RESPONSIVE HEADER, FOOTER, MON PANIER, TITLE ORICAMERAS****************************/
/**************************************************************************************/
@media screen and (max-width: 700px) {
  /*MON PANIER*/
  .monpanier p {
    display: none;
  }
  .title-camera h2 {
    font-size: 1.3em;
  }
  .title-camera p {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 451px) {
  header {
    /*MON PANIER*/
  }
  header .backindex i {
    font-size: 1em;
  }
  header .backindex h1 {
    font-size: 1em;
  }
  header .monpanier i {
    font-size: 1em;
  }
  header .monpanier p {
    font-size: 1em;
  }
  .title-camera h2 {
    font-size: 1.3em;
  }
  .title-camera p {
    font-size: 1em;
  }
}

@media screen and (max-width: 450px) {
  .title-camera p {
    display: none;
  }
}

/**************************************************************************************/
/********************************** PRODUIT*********************************************/
/**************************************************************************************/
.container-produit-camera {
  padding-bottom: 40px;
  margin-bottom: 40px;
  font-family: 'Playfair Display', serif;
}

#descriptionproduit {
  padding-top: 50px;
  margin-top: 50px;
}

#descriptionproduit p {
  font-size: 1.2em;
  color: black;
}

.cam-options {
  line-height: 2.3em;
}

#container-form {
  margin-top: 30px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  border: #FFF7EF 1px solid;
}

.articlePanier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.titrePanier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.titrePanier #totalPricePanier {
  font-weight: bold;
  color: black;
}

#total-price {
  font-weight: bold;
  font-size: 1.2em;
}

.prixPanier {
  text-align: center;
}

#container-button {
  text-align: center;
  margin-bottom: 50px;
}

/**************************************************************************************/
/**********************************RESPONSIVE PAGE PRODUIT*****************************/
/**************************************************************************************/
@media screen and (max-width: 700px) {
  #container {
    border: none;
  }
  #descriptionproduit {
    padding-top: 20px;
    margin-top: 20px;
    font-family: 'Playfair Display', serif;
  }
  #descriptionproduit p {
    font-size: 1em;
    color: black;
  }
}

/**************************************************************************************/
/********************************** PAGE PANIER****************************************/
/**************************************************************************************/
.containerPagePanier {
  font-family: 'Playfair Display', serif;
}

#container-panier2 {
  font-size: 1.5em;
  margin: 0 auto;
}

.tailleImage {
  width: 100px;
  height: 100px;
}

#basket-content {
  font-family: 'EB Garamond', serif;
  font-weight: bold;
  font-size: 1.2em;
}

.no-products {
  margin: auto;
  font-size: 1.3em;
}

#btnorder {
  font-family: 'Playfair Display', serif;
  display: block;
  margin: 5% auto;
  font-size: 1.2em;
  height: 54px;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-decoration: none;
}

.total-Panier {
  font-weight: bold;
}

.pagePanier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Playfair Display', serif;
}

.pagePanier h2 {
  text-align: center;
  margin: 5px;
  font-weight: bold;
}

.confirm-paragraphe {
  border: grey 1px solid;
  border-radius: 10px;
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
  padding: 10px;
}

.ulDisposition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 20px 0px;
  border: 2px solid #6C757D;
  background: #00000008;
  border-radius: 5px;
}

.ulDisposition .liDisp {
  margin-right: 40px;
  padding-left: 10px;
}

.liDisp ul {
  list-style: none;
  margin: 10px 5px;
  padding: 0;
  text-align: center;
}

.deleteBtn {
  border-radius: 5px;
  border: 2px solid #6C757D;
}

#formulaire {
  font-family: 'Playfair Display', serif;
  display: none;
  width: 80vw;
  height: auto;
  -webkit-box-shadow: black 1px 1px 15px;
          box-shadow: black 1px 1px 15px;
  margin: 2% auto;
  padding: 3%;
  background: white;
  border-radius: 5px;
}

#formulaire h3 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  text-shadow: black 1px 1px 3px;
  padding: 2%;
}

#formulaire #btnsend {
  color: #fff;
  border-color: #17a2b8;
}

#myform [type="text"] {
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #e0e0e0;
  -o-border-image: initial;
     border-image: initial;
  padding: 10px;
}

#myform [type="text"] .input_field {
  margin-bottom: 10px;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/**************************************************************************************/
/**********************************RESPONSIVE PAGE PANIER******************************/
/**************************************************************************************/
/**********************************PAGE A PROPOS******************************/
.title-camera-apropos {
  padding-bottom: 60px;
  margin-bottom: 60px;
}

.title-camera-apropos h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  margin: 2% auto;
  color: black;
  text-shadow: 3px 3px 3px #FFF7EF;
}

.title-camera-apropos p {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 1.3em;
}

/********************************** RESPONSIVE PAGE A PROPOS******************************/
@media screen and (max-width: 770px) {
  .title-camera-apropos p {
    font-size: 1em;
  }
}
/*# sourceMappingURL=style.css.map */